/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.imageBoxStyle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  padding: 2px;
}
.clearDiv {
  clear: both;
}

.photoImageStyle {
  position: absolute;
  width: auto;
  //-webkit-transform: translate(-50%,-50%);
  //-ms-transform: translate(-50%,-50%);
  //transform: translate(-50%,-50%);
}

.blurBG {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  cursor: pointer;
}
